
.button {
  cursor: pointer;
}

.button, .button:hover, button:focus {
  outline:0 !important;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
}

.button:active {
  /*background-color: #3e8e41;*/
  /*box-shadow: 0 5px #666;*/
  transform: translateY(1px);
  /*color:red !important;*/
}

/*a:link {color:#FF0000;}    !* unvisited link, same as regular 'a' *!*/
/*a:hover {color:#FF00FF;}   !* mouse over link *!*/
/*a:focus {color:#0000FF;}   !* link has focus *!*/
/*a:active {color:#0000FF;}  !* selected link *!*/
/*a:visited {color:#00FF00;} !* visited link *!*/

/***** foundation resize *****/

.button:not(.link) {
  margin-left: .5em;
}

div > .button:first-child {
  margin-left: 0;
}

.button.clear {
  background-color: transparent;
  color: black;
}

.button.link {
  box-shadow: none;
  text-decoration: underline;
  color: #0091ea;
  padding-left: .3rem;
  padding-right: .3rem;
}

.button.primary {
  background-color: #0091ea;
  color: #fefefe;
}

.button.ssmall {
  margin-bottom: 0;
  padding: .45rem .5rem;
  font-size: .6rem;
}

.button.ssmall2 {margin-bottom: 0;
  margin-bottom: 0;
  padding: .55rem;
  font-size: .6rem;
}

[type=text]:focus {
  border: 1px solid #b9b9b9;
}
