.check-code-input-component .checkcode{
    cursor: pointer;
}

.check-code-input-component .checkcode-invalid {
    color:red;
}

.check-code-input-component .checkcode-disable-button {
    background-color: #c5c5c5!important;
    color: grey!important;
}