
<div class="form-container product-new-form product-new-component">

  <!--<input type="hidden" id="hid_product_model_json" value="{&quot;product_id&quot;:11,&quot;product_name&quot;:&quot;8&quot;,&quot;product_type&quot;:&quot;产品描述,产品描述2,产品描述3&quot;,&quot;product_unit&quot;:&quot;8&quot;,&quot;product_price&quot;:0.0,&quot;product_spec&quot;:&quot;8&quot;,&quot;product_desc&quot;:&quot;&lt;p&gt;8888&lt;/p&gt;&quot;,&quot;created_at&quot;:&quot;2018年02月27日 11时36分&quot;,&quot;last_updated&quot;:&quot;2018年02月27日 11时36分&quot;}" />-->

  <form class="small-form" id="product-new-form" #formData="ngForm"
        enctype="multipart/form-data" action="{{the_action}}" method="POST">


    <div class="input-group">
      <span class="field-label">产品名称：</span>
      <input class="input-group-field"
             type="text" [(ngModel)]="product_name" id="product_name" name="product_name" required placeholder="请输入产品名称"/>
    </div>

    <!--<div class="input-group">-->
      <!--<span class="field-label">产品类别：</span>-->
      <!--<input class="input-group-field"-->
             <!--type="text" [(ngModel)]="product_type" id="product_type" name="product_type" required placeholder="请输入产品类别"/>-->
    <!--</div>-->


    <mat-form-field class="product-type-list" [floatLabel]="formGroupOptions.value.floatLabel">
      <mat-chip-list #productTypeList>
        <mat-chip *ngFor="let pType of productTypeFruits" [selectable]="pTypeSelectable"
                  [removable]="pTypeRemovable" (remove)="remove(pType)">
          {{pType.name}}
          <mat-icon matChipRemove *ngIf="pTypeRemovable">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <mat-label>产品类别</mat-label>
      <input matInput placeholder="请输入产品类别"
             [matChipInputFor]="productTypeList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="pTypeAddOnBlur"
             (matChipInputTokenEnd)="add($event)"
             id="product_type" name="product_type" />
    </mat-form-field>

    <div class="input-group">
      <span class="field-label">产品单位：</span>
      <input class="input-group-field"
             type="text" [(ngModel)]="product_unit" id="product_unit" name="product_unit" required placeholder="请输入产品单位" />
    </div>
    <div class="input-group">
      <span class="field-label">产品单价：</span>
      <input class="input-group-field"
             type="number" [(ngModel)]="product_price" id="product_price" name="product_price" required placeholder="请输入产品单价" />
    </div>
    <div class="input-group">
      <span class="field-label">产品规格：</span>
      <input class="input-group-field"
             type="number" [(ngModel)]="product_spec" id="product_spec" type="text" name="product_spec" placeholder="请输入产品规格" />
    </div>
    <div class="input-group">
      <span class="field-label">产品图片：</span>
      <div>
        <img src="/assets/images/chuhe-logo.png" />
        <input type="file" name="product_image" />
      </div>
    </div>
    <div class="input-group">
      <span class="field-label">产品描述：</span>
      <!--<textarea rows="10" name="product_desc" placeholder="请输入产品描述"></textarea>-->
      <textarea name="product_desc" placeholder="请输入产品描述"
                [froalaEditor]="froalaOptions" [(froalaModel)]="product_desc"></textarea>
    </div>


    <div style="text-align: right;margin-bottom: 1em;">

      <input type="hidden" [disabled]="editOrNew !== 'edit'" name="_method" value="put" />

      <button type="submit"  [disabled]="!formData.valid"
              (click)="onSubmit(formData)"
              class="small primary button">保存</button>
      <a class="small clear button last" href="/mans/products/{{product_id}}">取消编辑</a>
      <a class="small clear link button" href="/mans/products">返回产品列表</a>
    </div>


  </form>
</div>
