
.position-bottom, .position-top, .position-left, .position-right {
  width: auto !important;
  max-width: initial !important;
  min-width: auto !important;
  height: auto !important;
  max-height: initial !important;
  min-height: auto !important;
  overflow: hidden !important;
  -webkit-transform: none !important;
  transform: none !important;
  top: inherit;
  bottom: inherit;
  right: inherit;
  left: inherit;
}

.chart-legend {
  position: absolute;
  margin-left: .6rem;
}

.ngx-charts {
  /*float: none !important;*/
  display: inline-block;
}

.ngx-charts-outer {
  /*margin: auto;*/
  margin-right: 1em;
}

.chart-border {
  border: solid 1px gray;
  display: inline-block;
  background-color: white;
  padding-top: 10px;
  float: left;
  text-align: left;
}
