
/*** global style: base html ***/
body {
  /*background-color: #ECEFF1;*/
  background-color: ghostwhite;
  line-height: 1;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  width: 100%;
}

[type=color], [type=date], [type=datetime-local], [type=datetime],
[type=email], [type=month], [type=number], [type=password], [type=search], [type=tel],
[type=text], [type=time], [type=url], [type=week], textarea {
  margin-bottom: 0;
  box-shadow: none;
}

textarea {
  resize: none;
}


.header {
  width: 90%;
  max-width: 1024px;
  margin: auto;
  background-color: darkslateblue;
  color: white;
  padding: .5em .625em;
}

.header a {
  color: white;
}

.main-content {
  width: 90%;
  max-width: 1024px;
  background-color: #ECEFF1;
  margin: auto;
  min-height: 650px;
  padding: .925em;
  position: relative;
  line-height: 1.325em;
}

.error {
  padding: .1em .5em;
  margin-bottom: 0.5em;
  background-color: burlywood;
  color: brown;
  display: inline-block;
}


.clearFixed {
  float:none;
  clear: both;
}

.flash-message {
  color: brown;
  text-align: center;
  margin-bottom: 1em;
  background-color: transparent !important;
}

/*** angular ***/
.ng-trigger-comp {
  display: inline-block;
  width: 100%;
}
