<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <link rel="manifest" href="/manifest.json">
  <link rel="shortcut icon" href="/favicon.ico">
  <title>Title here</title>
  <link media="all" rel="stylesheet" href="/react/assets/venders/normalize/normalize-7.0.0.css">
  <link media="all" rel="stylesheet" href="/react/assets/venders/roboto/fonts-family-roboto.css">
  <link media="all" rel="stylesheet" href="/react/assets/venders/google-material/google-material-icons.css">
  <link media="all" rel="stylesheet" href="/react/assets/venders/material-iconic/2.2.0/css/material-design-iconic-font.min.css">
  <link media="all" rel="stylesheet" href="/react/assets/venders/foundation/foundation-flex-6.3.0.min.css">
  <link rel="stylesheet" href="/react/assets/venders/slick/slick-1.8.1.css" />
  <link rel="stylesheet" href="/react/assets/venders/slick/slick-theme-1.8.1.css" />
  <link rel="stylesheet" href="/react/assets/css/foundation-resize.css" />
  <link rel="stylesheet" href="/react/assets/css/global-style.css" />
  <style>
    body {
      background-image: url(/react/assets/images/bg02.jpg);
      background-size: cover
    }
  </style>
  <link href="/react/css/main.css" rel="stylesheet">
</head>

<body>


  {{#block "fragments/header"}}
  <h1>Title</h1>
  {{/block}}

  {{#block "content"}}
  {{/block}}

  {{#block "fragments/footer" }}
  <span>Powered by Handlebars.java</span>
  {{/block}}

  <script type="text/javascript" src="/react/assets/venders/fontawesome/fontawesome-all-v5.0.8.js"></script>
  <script type="text/javascript" src="/react/assets/venders/jquery-3.1.1/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="/react/assets/venders/jquery-3.1.1/jquery-3.1.1.slim.min.js"></script>
  <script type="text/javascript" src="/react/assets/venders/slick/slick-carousel-1.6.0.js"></script>
  <script type="text/javascript" src="/react/assets/venders/froala/froala_editor.pkgd.min.js"></script>
  <script type="text/javascript" src="/react/assets/venders/web-animations/web-animations-2.2.2.min.js"></script>
  <script type="text/javascript" src="/react/js/main.js"></script>

  {{#block "blocks/script"}}
  <script type="text/javascript">

  </script>
  {{/block}}

</body>
</html>
