
/deep/ .product-pillar .mat-checkbox-inner-container {
  height: 18px !important;
  width: 18px !important;
}

/deep/ .product-pillar .mat-checkbox-frame {
  border-color: rgba(52, 134, 1, 0.54);
}

/deep/ .product-pillar .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #45aaad;
}

/deep/ .product-pillar .mat-checkbox-label {
  color:rgba(52, 134, 1, 0.9);
}



/deep/ .product-pillar .skuChoosed .mat-checkbox-label {
  font-weight: bold;
}

ul {
  font-size: .9em;
  list-style: none;
  margin: 0;
}

ul.list-item-info li {
  float:left;
}

.product-skus {
  margin-top: 2em;
}

.product-skus > li {
  padding: 1em 0;
  border-top: solid 1px #cfd8dc;
}

.product-skus > li:last-child {
  border-bottom: solid 1px #cfd8dc;
}

.product-left {
  width: 65%;
}

.product-right {
  width: 35%;
}

.product-left, .product-right {
  float:left;
}


.product-pillar {
  min-height: 445px;
  margin-left: 1em;
  background-color: white;
  padding: 1.25em;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
}

.product-tab-boxes {
  margin-top: 1em;
  /*background-color: burlywood;*/
  min-height: 400px;
}



/deep/ .slick-gallery {
  height: 370px;
}

/deep/ .slick-gallery .slick-list ,
/deep/ .slick-gallery .slick-track,
/deep/ .slick-gallery-carousel .slick-list ,
/deep/ .slick-gallery-carousel .slick-track {
  height: 100%;
}

/deep/ .slick-gallery .slick-track > div,
/deep/ .slick-gallery-carousel .slick-track > div {
  background-size: cover;background-position: center;
}

/deep/ .slick-prev {
  left: 0;
  z-index: 999;
}

/deep/ .slick-next {
  right: 0;
  z-index: 999;
}

/deep/ .slick-initialized .slick-slide {
  outline: none;
}

/deep/ .slick-track .active-slide.slick-current .active {
  border:solid 2px darkorange;
  height: 100%;
  width: 100%;
}
