.checkcode {
  cursor: pointer;
  padding: 0 .425rem;
  color: blueviolet;
  background-color: antiquewhite;
  min-width: 109px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position-y: center;
}

.checkcode-invalid {
  color: red;
}

.checkcode-disable-button {
  background-color: #c5c5c5 !important;
  color:grey !important;
}

.checkcode-valid-button, .checkcode-time-button {
  cursor: pointer; padding: 0 .425rem;
  color: blueviolet;
  background-color: burlywood;

}

.checkcode-time-button {
  width: 85px;
  text-align: center;
}

.checkcode-time-button > i {
  display: inline-block;
  width: 100%;
  font-style: normal;
}

.checkcode-valid-button {
  border-left: none;
  background-color: antiquewhite;
  color: brown;
  font-weight: bold;
  text-shadow: 0 1px 0 #d8d8d8;
}

.checkcode-correct {
  background-image: url('/assets/images/icons/checkmark.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position-x: center;
}

.checkcode-wrong {
  background-image: url('/assets/images/icons/wrong-hi.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position-x: center;
}
