<div class="input-group">
  <span class="input-group-label" style="padding: 0 .425rem;color:black;">
    <i class="material-icons">&#xE8CE;</i>
  </span>
  <input class="input-group-field checkcode-invalid" type="text" pattern="[a-z]{1,15}" [disabled]="isDisable"
         [ngClass]="{'checkcode-invalid': checkcodeInvalid, 'input-freeze': validSuccess != null && validSuccess}"
         (keyup)="onKeyup($event)"
         (keydown)="onKeydown($event)"
         placeholder="{{placeholder}}" [(ngModel)]="checkCode" id="check_code" name="check_code" required>

  <input type="hidden" id="check_code_sign" name="check_code_sign" [(ngModel)]="checkCodeSign" />
  <input type="hidden" id="validate_code_sign" name="validate_code_sign" [(ngModel)]="validateCodeSign" />

  <span (click)="changeSteps('clicked_send_click')" *ngIf="steps==='pre_send_click'"
        class="input-group-label"
        [ngClass]="{'checkcode-disable-button': isDisable}"
        style="cursor: pointer; padding: 0 .425rem;color: blueviolet;background-color: antiquewhite;">
        发送验证码
  </span>
  <span (click)="changeCode()" *ngIf="steps==='clicked_send_click'"
        class="input-group-label checkcode "
        [style.background-image]="'url(' + checkCodeSrc + ')'">

  </span>
  <span (click)="validateCheckCode()" *ngIf="steps==='clicked_checkcode'"
        class="input-group-label checkcode-valid-button checkcode-correct"
        [ngClass]="{'checkcode-correct': validSuccess != null && validSuccess,
                    'checkcode-wrong': validSuccess != null && !validSuccess,
                    'checkcode-progress': validSuccess == null && validProgress,
                    'checkcode-disable-button': isDisable || !(checkCode && checkCode.trim().length > 3) }">
        &ensp;验证&ensp;
  </span>
  <span *ngIf="steps==='clicked_checkcode' && !validSuccess && checkcodeTimeButtonText !== '重新发送'"
        (click)="resendCode(true)"
        class="input-group-label checkcode-time-button"
        style="width: auto;border-left:none;"
        [ngClass]="{'checkcode-disable-button': isDisable}">
        重试
  </span>
  <span *ngIf="steps==='clicked_checkcode'"
        (click)="resendCode(false)"
        class="input-group-label checkcode-time-button"
        [ngClass]="{'checkcode-disable-button': isDisable}">
        <i>{{checkcodeTimeButtonText}}</i>
  </span>
</div>
