.checkcode {
  cursor: pointer;
  padding: 0 .425rem;
  color: blueviolet;
  background-color: antiquewhite;
  min-width: 109px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position-y: center;
}

.checkcode-invalid {
  color: red;
}

.checkcode-valid-button, .checkcode-time-button {
  cursor: pointer; padding: 0 .425rem;color: blueviolet;background-color: antiquewhite;
}

.checkcode-valid-button {
  border-left: none;
  background-color: burlywood;
  color: brown;
  font-weight: bold;
}
