<form class="small-form" id="orders-order-detail-form" action="/mans/orders/sales" method="POST">
  <fieldset style="margin-bottom: 1em;">
    <legend style="font-weight: bold;color:gray;">新增销售单</legend>


    <div>
      <label for="order_flow_no">销单流水号：</label>
      <input type="text" id="order_flow_no" name="order_flow_no" required placeholder="请输入销单流水号"/>&ensp;&ensp;&ensp;
    </div>

    <div>
      <label for="order_flow_no">经办人：</label>
      <input type="text" id="order_person" name="order_person" placeholder="请输入经办人"/>&ensp;&ensp;&ensp;
    </div>

    <!--
    客户姓名：<input type="text" name="customer_name" required placeholder="请输入客户姓名" />&ensp;&ensp;&ensp;&ensp;
    联系方式：<input type="text" name="customer_phone" required placeholder="请输入客户联系方式" />&ensp;&ensp;&ensp;&ensp;
    -->

    <div>
      <label for="order_flow_no">备注：</label>
      <input type="text" id="order_desc" name="order_desc" placeholder="请输入销单备注"/>&ensp;&ensp;&ensp;
    </div>


  </fieldset>

  <fieldset style="margin-bottom: 1em;">

    <div style="width: calc(100% - 76px); display: inline-block;">
      <mat-form-field class="example-full-width" [floatLabel]="formGroupOptions.value.floatLabel">

        <mat-label>检索产品</mat-label>
        <input type="text" placeholder="输入产品名称关键字快速检索产品" aria-label="Number"
               matInput [formControl]="myControl"
               [(ngModel)]="inputText"
               (ngModelChange)="inputTextChange($event)"
               [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                          (optionSelected)='onOptionSelected($event, $event.option.value)'>
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <button type="button"
            id="btn-append-new-order-row" (click)="newRow(null)" class="ssmall primary button">增加新行</button>
    <div class="clearFixed"></div>


    <div class="order-detail-sales">
      <app-table-cells #tableCellsProduct [input_count_field]="'product_sale_count'"></app-table-cells>
    </div>

    <div style="text-align: center;margin: 1.5em 0;">
      <!--<a id="btn-order-save" class="small primary button">保存</a>-->
      <button type="button" (click)="saveSalesOrder()" id="btn-order-save" class="small primary button">保存</button>
      <button type="button" (click)="tableCellsProduct.cleanEmptyProductRow()" id="btn-clean-order-row" class="small clear button">清除空行</button>
    </div>


  </fieldset>
</form>
