/* You can add global styles to this file, and also import other style files */


@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.mat-checkbox-inner-container {
  background-color: ghostwhite;
}

/*** global style: base html ***/
h1, h2, h3, h4, h5, h6 {
  width: 100%;
}

textarea {
  resize: none;
}

.button {
  cursor: pointer;
}

.button, .button:hover, button:focus {
  outline:0 !important;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
}

.button:active {
  /*background-color: #3e8e41;*/
  /*box-shadow: 0 5px #666;*/
  transform: translateY(1px);
  /*color:red !important;*/
}

/*a:link {color:#FF0000;}    !* unvisited link, same as regular 'a' *!*/
/*a:hover {color:#FF00FF;}   !* mouse over link *!*/
/*a:focus {color:#0000FF;}   !* link has focus *!*/
/*a:active {color:#0000FF;}  !* selected link *!*/
/*a:visited {color:#00FF00;} !* visited link *!*/


/***** table theme *****/
table.table-basic {
  background: #f5f5f5;
  border-collapse: separate;
  box-shadow: 0px 0px 3px 1px #9a9a9a;
  font-size: 12px;
  line-height: 24px;
  text-align: left;
  width: 800px;
}

table.table-basic th {
  background: url(https://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
  border-left: 1px solid #555;
  /*border-right: 1px solid #777;*/
  /*border-top: 1px solid #555;*/
  border-bottom: 1px solid #333;
  box-shadow: inset 0 1px 0 #999;
  color: #fff;
  font-weight: bold;
  padding: 10px 15px;
  position: relative;
  text-shadow: 0 1px 0 #000;
}


table.table-basic th:first-child {
  border-left: 1px solid #777;
  /*box-shadow: inset 1px 1px 0 #999;*/
}
table.table-basic td {
  /*border-right: 1px solid #fff;*/
  border-left: 1px solid #e8e8e8;
  /*border-top: 1px solid #fff;*/
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 15px;
  position: relative;
  transition: all 300ms;
}


table.table-basic td:last-child {
  border-right: 1px solid #e8e8e8;
  /*box-shadow: inset -1px 0 0 #fff;*/
}

table.table-basic tr {
  background: url(https://jackrugile.com/images/misc/noise-diagonal.png);
}

table.table-basic tr:nth-child(odd) td {
  background: #f1f1f1 url(https://jackrugile.com/images/misc/noise-diagonal.png);
}
table.table-basic thead th {
  padding: .425rem .625rem;
}
table.table-basic tbody td {
  /*color: transparent;*/
  /*text-shadow: 0 0 3px #aaa;*/
  padding: .325rem .625rem;
}

table.table-basic th input[type="checkbox"],table.table-basic td input[type="checkbox"] {
  margin: 0 auto;
  transform: scale(1.55);
}


table.table-basic tbody:hover tr:hover td {
  /*color: #444;*/
  text-shadow: 1px 1px 1px #b7b7b7;
}
/***** table theme end *****/

/***** foundation resize *****/
.button.clear {
  background-color: transparent;
  color: black;
}

.button.primary {
  background-color: #0091ea;
  color: #fefefe;
}

.small-form {
  font-size: .825em;
}

.small-form input, .small-form textarea{
  padding: .3rem;
  font-size: 1rem;
  height: auto;
}

.small-form .input-group {
  display: inherit;
  margin-bottom: .925rem;
}
/***** foundation resize end *****/
