

<div class="media-upload-component">

  <input style="display: none;" type="file" multiple="multiple" class="upload_holder" name="upload_holder" />
  <input type="hidden" class="_medias" id="{{mediasHiddenField}}" name="{{mediasHiddenField}}" value="{{medias_field}}" />

  <div class="ngx-dnd-container" ngxDroppable>
    <div
      class="ngx-dnd-item media_preview thumbnail"
      ngxDraggable
      *ngFor="let s of medias"
      [style.background-image]="'url(' + s + ')'">

    </div>
  </div>

  <div class="upload_preview box" *ngFor="let name of uploadFiles" style="float:left;">
    <img src="/assets/images/chuhe-logo.png" />
    <span>{{name}}</span>
  </div>


  <div *ngIf="!uploadFiles || uploadFiles.length === 0" class="upload_preview box" style="float:left;">
    <img src="/assets/images/chuhe-logo.png" />
    <span style="font-size: .5em;">未上传</span>
  </div>

  <div class="upload_hand" style="float:left;margin-left: .3em;">
    <img src="/assets/images/chuhe-logo.png" />
    <span style="font-size: .3em;">上传图片</span>
  </div>

  <div class="clearFixed"></div>

</div>
