.thumbnail {
  box-shadow: none;
  line-height: normal;
}

.upload_hand img {
  opacity: .85;
  border-radius: 40px;
}

.upload_hand a {
  color: white;
}

.upload_preview {
  /*border: solid 1px transparent;*/
  /*border-top: none;*/
}

.upload_preview, .media_preview {
  margin-right: .125em;
  font-size: 2em;
  color: cadetblue;
}
.media_preview {
  width: 56px;
  height: 56px;
  float:left;
  background-repeat: no-repeat;
  background-size: cover;
}

.upload_hand {
  font-size: 1.325em;
  cursor: pointer;
  color: aliceblue;
}

.upload_hand, .upload_preview, .media_preview {
  margin-bottom: .325em;
  position: relative;
}

.upload_hand span, .upload_preview span {
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: bold;
  line-height: 56px;
  top:0;
  left: 0;
}

.media_preview.thumbnail {
  cursor: pointer;
  margin-right: .325em !important;
  margin-bottom: .325em !important;
}

.media_preview.thumbnail:last-child {
  cursor: pointer;
  margin-right: .625em !important;
}

.media_preview.thumbnail {
  border: solid 1px transparent;
}


.media_preview.thumbnail .fa-layers-counter.remove-media {
  width: 120px;
  left: -30px;
  /* right: auto; */
  top: -18px;
  position: absolute;
  background:Tomato;
  background: burlywood;
  border-radius: 1em;
  color: #fff;
  /* height: 1.5em; */
  line-height: 1;
  /* max-width: 5em; */
  min-width: 1.5em;
  overflow: hidden;
  padding: .25em;
  /* right: 0; */
  text-overflow: ellipsis;
  /* top: 0; */
  -webkit-transform: scale(.35);
  transform: scale(.35);
  -webkit-transform-origin: left;
  transform-origin: center;
  display: none;
}

.media_preview.thumbnail:hover .remove-media {
  display: block;
}


.ngx-dnd-container:hover .media_preview.thumbnail {
  /*border-style: dashed !important;*/
  border: dashed 1px cadetblue;
}

.media_preview.thumbnail:hover {
  border: solid 1px green !important;
}

/** ngx dnd **/
/deep/ .ngx-dnd-item, /deep/ .ngx-dnd-container {
  margin: 0 !important;
  padding: 0 !important;
}

/deep/ .ngx-dnd-container:after{
  content:".";
  clear:both;
  display:block;
  height:0;
  overflow:hidden;
  visibility:hidden;
}

/deep/ .ngx-dnd-container, /deep/ .ngx-dnd-item {
  /*border:none !important;*/
  background-color: transparent !important;
}

/deep/ .ngx-dnd-container, /deep/ .ngx-dnd-item {
  float: left;
}



