
<form class="orders-replenish-page-component small-form" id="orders-order-detail-form" action="/mans/orders/replenish" method="POST">
  <fieldset  style="margin-bottom: 1em;">
    <legend style="font-weight: bold;color:gray;">新增进货单</legend>

    <div>
      <label for="order_flow_no">订单流水号：</label>
      <input type="text" id="order_flow_no" name="order_flow_no" required placeholder="订单流水号"/>&ensp;&ensp;&ensp;
    </div>
    <div>
      <label for="order_person">经办人：</label>
      <input type="text" id="order_person" name="order_person" required placeholder="请输入经办人" />&ensp;&ensp;&ensp;&ensp;
    </div>
    <div>
      <label for="order_desc">备注：</label>
      <input type="text" id="order_desc" name="order_desc" placeholder="请输入订单备注" />
    </div>

  </fieldset>

  <fieldset style="margin-bottom: 1em;">
    <div style="width: calc(100% - 76px); display: inline-block;">
      <mat-form-field class="example-full-width" [floatLabel]="formGroupOptions.value.floatLabel">

        <mat-label>检索产品</mat-label>
        <input type="text" placeholder="输入产品名称关键字快速检索产品" aria-label="Number"
               matInput [formControl]="myControl"
               [(ngModel)]="inputText"
               (ngModelChange)="inputTextChange($event)"
               [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                          (optionSelected)='onOptionSelected($event, $event.option.value)'>
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <button type="button"
            id="btn-append-new-order-row" (click)="newEmptyRow(null)" class="ssmall primary button">增加新行</button>
    <div class="clearFixed"></div>
    <!--<div style="text-align: left">-->
      <!--<legend style="font-weight: bold;color:gray;">进货单详情</legend>-->
    <!--</div>-->

    <div class="order-detail-replenish">

      <app-table-cells #tableCellsProduct></app-table-cells>
    </div>

    <div style="text-align: center;margin: 1.5em 0;">
      <button type="button" id="btn-order-save" class="small primary button">保存</button>
      <button type="button" (click)="tableCellsProduct.cleanEmptyProductRow()" id="btn-clean-order-row" class="small clear button">清除空行</button>
    </div>

  </fieldset>
</form>
