<html lang="zh-CN">
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  {{#block "blocks/title"}}
  <title>Title here</title>
  {{/block}}
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <!-- cssset -->
  <link media="all" type="text/css" rel="stylesheet"
        href="/assets/venders/normalize/normalize-7.0.0.css">

  <link media="all" type="text/css" rel="stylesheet"
        href="/assets/venders/roboto/fonts-family-roboto.css">

  <!--Font Icons: https://material.io/icons/-->
  <link media="all" type="text/css" rel="stylesheet"
        href="/assets/venders/google-material/google-material-icons.css">

  <!-- material iconic -->
  <link media="all" type="text/css" rel="stylesheet"
        href="/assets/venders/material-iconic/2.2.0/css/material-design-iconic-font.min.css">

  <!-- Foundation Flex: https://cdnjs.com/libraries/foundation/6.3.0 -->
  <link media="all" type="text/css" rel="stylesheet"
        href="/assets/venders/foundation/foundation-flex-6.3.0.min.css">

  <!-- slick -->
  <link rel="stylesheet" type="text/css" href="/assets/venders/slick/slick-1.8.1.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/venders/slick/slick-theme-1.8.1.css"/>


  <style type="text/css">

  </style>

  <!-- style helpers -->
  <link media="all" type="text/css" rel="stylesheet" href="/styles/hd-spinner.css">

  <!-- site style -->
  <link media="all" type="text/css" rel="stylesheet" href="/angular/styles.bundle.css">


  {{#block "blocks/styles"}}
  <style type="text/css">

  </style>
  {{/block}}

</head>
<body>


  {{#block "fragments/header"}}
  <h1>Title</h1>
  {{/block}}

  <div class="main-content wd">
    {{#block "content"}}
    {{/block}}

    <div class="clearFixed"></div>
  </div>


  {{#block "fragments/footer" }}
  <span>Powered by Handlebars.java</span>
  {{/block}}

  <!-- websocket -->
  <script src="/libs/sockjs.js"></script>
  <script src="/libs/vertx-eventbus.js"></script>

  <script src="//maps.google.cn/maps/api/js?key=AIzaSyCeI-XYorNUXfZhPQdWLl3qdcYQ4-Nhs3s"></script>
  <!--<script type="text/javascript" src="/assets/venders/google-maps/googleapis-map.js?key=AIzaSyCeI-XYorNUXfZhPQdWLl3qdcYQ4-Nhs3s"></script>-->

  <!-- fontawesome -->
  <!--<script defer src="//use.fontawesome.com/releases/v5.0.8/js/all.js"></script>-->
  <script type="text/javascript" src="/assets/venders/fontawesome/fontawesome-all-v5.0.8.js"></script>

  <!-- lodash -->
  <!--<script type="text/javascript" src="/assets/venders/lodash/lodash.min.js"></script>-->

  <!-- jquery -->
  <script type="text/javascript" src="/assets/venders/jquery-3.1.1/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="/assets/venders/jquery-3.1.1/jquery-3.1.1.slim.min.js"></script>

  <!-- slick -->
  <script type="text/javascript" src="/assets/venders/slick/slick-carousel-1.6.0.js"></script>

  <!-- whatwg-fetch -->
  <script type="text/javascript" src="/assets/venders/whatwg-fetch/fetch-2.0.3.min.js"></script>

  <!-- froala -->
  <script type="text/javascript" src="/assets/venders/froala/froala_editor.pkgd.min.js"></script>

  <!-- web-animations: https://cdnjs.com/libraries/web-animations/2.2.2 -->
  <script type="text/javascript" src="/assets/venders/web-animations/web-animations-2.2.2.min.js"></script>

  <!-- angular -->
  <script type="text/javascript" src="/angular/inline.bundle.js"></script>
  <script type="text/javascript" src="/angular/polyfills.bundle.js"></script>
  <!--<script type="text/javascript" src="/angular/scripts.bundle.js"></script>-->
  <script type="text/javascript" src="/angular/vendor.bundle.js"></script>
  <script type="text/javascript" src="/angular/main.bundle.js"></script>


  <script type="text/javascript">
      document.getElementById('loader').style.display = "none";
  </script>
  
  {{#block "blocks/script"}}
  <script type="text/javascript">


  </script>
  {{/block}}

</body>
</html>
