

.error {
  padding: .1em .5em;
  margin-bottom: 0.5em;
  background-color: burlywood;
  color: brown;
  display: inline-block;
}

/*** angular ***/
.ng-trigger-comp {
  display: inline-block;
  width: 100%;
}

/*** global style: site settings ***/


.header {
  width: 90%;
  max-width: 1024px;
  margin: auto;
  background-color: darkslateblue;
  color: white;
  padding: .5em .625em;
}

.header a {
  color: white;
}

.main-content {
  width: 90%;
  max-width: 1024px;
  background-color: #ECEFF1;
  margin: auto;
  min-height: 650px;
  padding: .925em;
  position: relative;
}

[type=color], [type=date], [type=datetime-local], [type=datetime],
[type=email], [type=month], [type=number], [type=password], [type=search], [type=tel],
[type=text], [type=time], [type=url], [type=week], textarea {
  margin-bottom: 0;
  box-shadow: none;
}

/*[type=checkbox]+label[for], [type=radio]+label[for] {*/
  /*margin-left: 0;*/
/*}*/



