
.charts-page-component .chart-page-left,
.charts-page-component .chart-page-right {
  float:left;
}

.charts-page-component .chart-page-left {
  width: 290px;
  /*background-color: red;*/
  margin-right: 12px;
}

.charts-page-component .chart-page-right {
  width: 690px;
}
