
<div class="table-cells-component">

  <table class="table-cells" border="0" cellspacing="0">
    <thead>
    <tr>
      <th>序号</th>
      <th>商品编号</th>
      <th>商品名称</th>
      <th>品牌</th>
      <th>规格</th>
      <th>{{input_count_field === 'product_sale_count' ? '销售单价' : '进货单价'}}</th>
      <th>单位</th>
      <th>数量</th>
      <th>合计金额</th>
      <th>生产厂家</th>
      <th>备注</th>
      <th>&ensp;</th>
    </tr>
    </thead>
    <tbody class="order-detail-replenish-items">
    <tr *ngFor="let p of rowList; let _row_no = index; let _last = last; trackBy: trackByFn">
      <td style="width: 40px;text-align: center;font-weight: bold;">
        <input type="text" autocomplete="off" disabled="disabled" style="text-align: center;" value="{{_row_no + 1}}" /></td>
      <td style="width: 95px;">
        <input type="text" autocomplete="off" disabled="disabled" id="product_id" [(ngModel)]="p.product_id" /></td>
      <td style="width: 185px;">
        <input type="text" autocomplete="off" disabled="disabled" id="product_name" [(ngModel)]="p.product_name" /></td>
      <td style="width: 70px;">
        <input type="text" autocomplete="off" disabled="disabled" style="text-align: center;" id="product_brand" [(ngModel)]="p.product_brand" /></td>
      <td style="width: 75px;">
        <input type="text" autocomplete="off" disabled="disabled" id="product_spec" [(ngModel)]="p.product_spec" /></td>
      <td style="width: 75px;">
        <app-float-input [model]="p" (onInput)="onPriceInput(p)" [field]="'product_price'"></app-float-input></td>
      <td style="width: 75px;">
        <input type="text" autocomplete="off" disabled="disabled" style="text-align: center;" id="product_unit" [(ngModel)]="p.product_unit" /></td>
      <td style="width: 75px;">
        <app-float-input #txt_input_count [model]="p" (onInput)="onPriceInput(p)" [field]="input_count_field"></app-float-input></td>
      <td style="width: 75px;">
        <input type="text" autocomplete="off" disabled="disabled" style="text-align: right;" id="product_total_money" [(ngModel)]="p.product_total_money" /></td>
      <td style="width: 75px;">
        <input type="text" autocomplete="off" disabled="disabled" id="product_vender" [(ngModel)]="p.product_vender" /></td>
      <td style="width: 125px;">
        <input type="text" appCellInputCrossMove appSelectTextOnFocus autocomplete="off" id="order_item_desc" [(ngModel)]="p.order_item_desc" />
      </td>
      <td style="width: 40px;text-align: center;">
        <a title="删除该行" class="remove-order-row" href="javascript:void(this);">&Chi;</a></td>
    </tr>
    </tbody>
  </table>
</div>
