.hd-spinner {
    margin: 100px auto;
    width: 50px;
    height: 35px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.hd-spinner > div {
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.hd-spinner.tur > div {
    background-color: darkturquoise;
}

.hd-spinner.able > div {
    background-color: aliceblue;
}

.hd-spinner.bvlt > div {
    background-color: blueviolet;
}

.hd-spinner.byw > div {
    background-color: burlywood;
}

.hd-spinner.cal > div {
    background-color: coral;
}

.hd-spinner.red > div {
    background-color: red;
}


.hd-spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.hd-spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.hd-spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.hd-spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}